<template>
    <div id="carte">
        <h2>Carte</h2>
        <div id="mapid"></div>
        <p>Ruchers dont les coordonnées ne sont pas renseignées :</p>
        <ul v-for="(r, index) in rucher">
            <li>Identifiant : {{ r[0] }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "carte",
        data() {
            return {
                /* eslint-disable */
                rucher: '',
                map: null,
                tileLayer: null,
                layers: [
                    {
                        id: 0,
                        name: 'Restaurants',
                        active: false,
                        features: [],
                    },
                ],
            }
        },
        mounted() {
            this.initMap();
            if (localStorage.getItem("rucher")) {
                this.rucher = JSON.parse(localStorage.getItem("rucher"));
            }
        },
        methods: {
            initMap() {
                /* eslint-disable */
                let map = L.map('mapid', {
                    center: [45.7447, 1.7010999999999967],
                    zoom: 13
                });

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: ' <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                L.marker([45.7447, 1.7010999999999967]).addTo(map);
            },
        },
    }
</script>

<style scoped>
    h2 {
        color : #887E7E;
        text-align: center;
    }
    #mapid {
        height: 350px;
        width: 90%;
        margin: auto;
    }
</style>
