<template>
    <div id="informations">
        <h2>Informations</h2>
        <div id="recolte">
            <div class="titre">
                <h3>Récoltes<hr></h3>
            </div>
            <div id="recolteTab" class="tableau">
                <div>Hausse : +50</div>
                <div>Depuis le : <input type="date" id="start" name="trip-start"></div>
            </div>
        </div>
        <div id="coordonnees">
            <div class="titre">
                <h3>Coordonnées GPS<hr></h3>
                <div class="btn"
                     @click="addGPS">
                    <img src="../../../assets/img/add.png"
                         alt="Add"
                         class="addBtn"/>
                </div>
            </div>
            <div class="tableau">
                <div v-for="coord in coords"
                    :key="coord.nom">
                    <div class="coordHead">{{coord.nom}}</div>
                    <div class="latitude">Latitude :
                        <input type="number"
                               :value=coord.latitude
                                @change="changeGPS"/>
                    </div>
                    <div class="longitude">Longitude : <input type="number" :value=coord.longitude /></div>
                </div>
            </div>
        </div>
        <div id="visites">
            <div class="titre">
                <h3>Visites<hr></h3>
                <div class="btn"
                     @click="addVisite">
                    <img src="../../../assets/img/add.png"
                         alt="Add"
                         class="addBtn"/>
                </div>
            </div>
            <div class="tableau">
                <div v-for="visite in visites"
                    :key="visite.rucher">
                    <div class="visiteHead"
                         :class=visite.info.autre
                        @click="showInfo(visite.info.autre)">
                        <div>{{visite.rucher}}</div>
                        <div>{{visite.date}}</div>
                    </div>
                    <div class="info" :id=visite.info.autre style="display: none">Informations :
                        <ul>
                            <li class="dyn"><u>Dynamique de développement</u> :
                                <p>{{visite.info.dyn}}</p>
                            </li>
                            <li class="nourriture"><u>Nourriture apportée</u> :
                                <p>{{visite.info.nourriture}}</p>
                            </li>
                            <li class="recolte"><u>Hausse de la récolte</u> :
                                <p>{{visite.info.hausse}}</p>
                            </li>
                            <li class="autre"><u>Informations complémentaires</u> :
                                <p>{{visite.info.autre}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "informations",
        data(){
            return {
                coords : [
                    {
                        nom : "Rucher 1",
                        latitude : 45.7447,
                        longitude : 1.7010999999999967,
                    }
                ],
                visites : [
                    {
                        rucher : "Rucher 1",
                        date : "12/10/2018",
                        info : {
                            dyn : "en developpement",
                            nourriture : "nectar",
                            hausse : -1,
                            autre : "Colonie en bonne santé"
                        }
                    },
                    {
                        rucher : "Rucher 1",
                        date : "21/10/2018",
                        info : {
                            dyn : "en developpement",
                            nourriture : "nectar",
                            hausse : -1,
                            autre : "Colonie en mauvaise santé"
                        }
                    }
                ]
            }
        },
        methods : {
            addGPS() {

            },
            changeGPS() {

            },
            addVisite() {

            },
            showInfo(elem) {
                const infos = document.getElementsByClassName('info');
                for (let i=0; i<infos.length; i++){
                    if (elem === infos[i].id && infos[i].style.display === "none") {
                        infos[i].style.display = "block";
                    }
                    else if (elem === infos[i].id && infos[i].style.display === "block"){
                        infos[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>

<style scoped>
    h2 {
        color : #887E7E;
        text-align: center;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    hr {
        background-color: grey;
        margin-top: 0;
        margin-left: 2vw;
        width: 110%;
        text-decoration: none;
    }
    .titre{
        background-color: lightgray;
        width: 90%;
        height: 4vh;
        color: grey;
        margin: auto;
        padding-left: 3vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: flex;
    }
    .tableau {
        background-color: #ededed;
        min-height: 5vh;
        width: 80%;
        margin: auto;
        padding: 10px;
        color: #444444;
        margin-bottom: 1vh;
    }
    .btn {
        margin: auto;
        margin-right: 2%;
        background-color: cornsilk;
        border-radius: 50%;
        text-align: center;
    }
    .addBtn {
        display : block;
        padding : 8px;
        height : 10px;
        width : 10px;
    }
    .coordHead {
        font-weight: bold;
    }
    input {
        width: 50%;
    }
    .longitude, .latitude {
        margin-top: 1vh;
    }
    .visiteHead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2vh;
        font-weight: bold;
    }
    .visiteHead:hover {
        cursor: pointer;
    }
    .info {
        background-color: #f2f2f2;
    }
</style>
