<template>
    <div id="choiceMenu">
        <div id="frontMenu"
             v-if="isFront">
            <div v-for="item in frontItems"
                 :key="item.title"
                 class="item">
                <a :href="item.href"
                   @click="reload(item.href)">{{ item.title }}</a>
            </div>
        </div>
        <div id="backMenu"
            v-else>
            <div v-for="item in backItems"
                :key="item.title"
                class="item">
                <a :href="item.href"
                    @click="reload(item.href)">{{ item.title }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    var CheminComplet = document.location.href;

    export default {
        name: "choiceMenu",
        data() {
            return {
                front : false,
                currentUrl : CheminComplet.substring(CheminComplet.lastIndexOf( "/" )+1 ),
                backItems : [
                    {
                        title : 'Ruchers',
                        href : '/#/ruchers'
                    },
                    {
                        title : 'Configuration',
                        href : '/#/configuration'
                    },
                ],
                frontItems : [
                    {
                        title : 'Liste',
                        href : '/#/liste'
                    },
                    {
                        title : 'Carte',
                        href : '/#/carte'
                    },
                    {
                        title : 'Informations',
                        href : '/#/informations'
                    },
                ],
            }
        },
        computed : {
            isFront() {
                if (this.currentUrl === 'configuration' || this.currentUrl === 'ruchers'){
                    return true
                }
                return false
            }
        },
        methods : {
            reload(elem) {
                const url = CheminComplet.substring(CheminComplet.lastIndexOf( "/" )+1 ) + elem;
                location = url;
            },
        }
    }
</script>

<style scoped>
    #backMenu, #frontMenu {
        float: right;
        width: 40%;
        box-shadow: 0 5px 30px #887E7E;
    }
    .item {
        background-color: #C0BE98;
        opacity: 0.95;
        height: 4vh;
        text-align: center;
        border : 1px solid #887E7E;
        border-top: none;
    }
    a {
        text-decoration: none;
        color: #887E7E;
        font-weight: bold;
        margin-top : auto;
    }
</style>
