<template>
    <div id="liste">
        <table>
            <thead>
            <tr>
                <th class="alerteTitle"> </th>
                <th>Nom</th>
                <th>Dernière Visite</th>
            </tr>
            </thead>
            <tbody v-for="rucher in items"
                   :key="rucher.name">
                <tr>
                    <td><div class="alerte"></div></td>
                    <td>{{ rucher.name }}</td>
                    <td>{{ rucher.visit}}</td>
                </tr>
                <br/>
                <tr class="freq">
                    <td></td>
                    <td></td>
                    <td>Fréquences : {{ rucher.frequency }} jours</td>
                </tr>
                <br/>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "liste",
        data() {
            return {
                items : [
                    {
                        name : "Rucher 1",
                        frequency : 10,
                        visit : '10/03/2019'
                    },
                    {
                        name : "Rucher 2",
                        frequency : 5,
                        visit : '21/01/2019'
                    }
                ]
            }
        },
        methods : {
            /*compareDate() {
                this.items.forEach(function (elem) {

                    if(elem.visit)
                })
            }*/
        }
    }
</script>

<style scoped>
    table {
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 15px;
        border-radius: 3px;
    }
    .alerteTitle {
        width: 10%;
    }
    th {
        width: 45%;
        padding-bottom:  20px;
    }
    .alerte {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
    }
    tbody {
        margin-bottom: 2vh;
    }
    br {
        margin-bottom: 2vh;
        height: 2vh;
    }
</style>
