<template>
    <div id="liste">
        <h2>Liste des ruchers</h2>
        <table>
            <thead>
            <tr>
                <th class="alerteTitle"> </th>
                <th>Nom</th>
                <th>Dernière Visite</th>
            </tr>
            </thead>
            <tbody v-for="r in rucher">
                <tr>
                    <td><div class="alerte"></div></td>
                    <td>{{ r[0] }}</td>
                    <td>{{ r[4] }}</td>
                </tr>
                <br/>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "liste",
        data() {
            return {
                rucher: ''
            }
        },
        mounted() {
            if (localStorage.getItem("rucher")) {
                this.rucher = JSON.parse(localStorage.getItem("rucher"));
            }
        },
    }
</script>

<style scoped>
    h2 {
        color : #887E7E;
        text-align: center;
    }
    table {
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 15px;
        border-radius: 3px;
    }
    .alerteTitle {
        width: 10%;
    }
    th {
        width: 45%;
        padding-bottom:  20px;
    }
    .alerte {
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
    }
    tbody {
        margin-bottom: 2vh;
    }
    br {
        margin-bottom: 2vh;
        height: 2vh;
    }
</style>
