<template>
    <div id="bottomPage">
        <div class="informations">
            <span>Amélie Meyzie & Justine Cassan </span>
        </div>
        <div class="copyright">@copyrightIutLim</div>
    </div>
</template>

<script>
    export default {
        name: "bottomPage"
    }
</script>

<style scoped>
    #bottomPage {
        height: 7vh;
        position: absolute;
        bottom :0;
        width: 100%;
        margin-top: 7vh;
    }
    .informations{
        background-color: cornsilk;
        height: 4vh;
        color : #887E7E;
        font-size: 15px;
        text-align: center;
        padding-top: 1vh;
    }
    .copyright {
        background-color: #887E7E;
        color : cornsilk;
        height : 3vh;
        font-style : italic;
        font-size: 10px;
        text-align: center;
        padding-top: 1vh;
    }
</style>
